# Discord Bot Token (get this from Discord Developer Portal)
DISCORD_TOKEN=your_discord_bot_token_here

# Channel IDs where the shooting star messages will be sent
SHOOTING_STAR_CHANNEL=your_channel_id_here,your_channel_id_here

# Channel ID for the photo command
PHOTO_CHANNEL=your_channel_id_here

# API Key for LLM
OPENAI_API_KEY=your_api_key_here

TWITCH_TIER_1_ROLE_ID=
TWITCH_TIER_2_ROLE_ID=
TWITCH_TIER_3_ROLE_ID=

OWNER_USER_ID=

VC_ROLE_ID=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SOTD_CHANNEL_ID=
SNAP_CHANNEL_ID=
BIRTHDAY_CHANNEL_ID=

HA_SERVER=
HA_TOKEN=
HA_ENTITY_ID=